//magic.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.0ec103b8-ea97-49c9-be84-d479448b175f/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@service-user-for-actor-apps:registry=https://magic.usw-3.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.0ec103b8-ea97-49c9-be84-d479448b175f/contents/release/npm